.login {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  --primary-title-size: var(--size-txs);
  --primary-title-weight: var(--weight-medium);
}

.login__content {
  width: 280px;
}
