.message {
  position: relative;
  font-size: 0.725rem;
  color: #ffa200;
  display: flex;
  justify-content: flex-start;
  animation: 0.1s ease-out;
}

.message--center {
  justify-content: center;
}

.message--box-default {
  border-radius: 8px;
  border: 1px solid #c7c8d1;
  padding: 12px 24px;
  color: #17171c;
}

.message__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.5rem;
  border-radius: 50%;
  color: white;
  background-color: #ffa200;
}

.message__value {
  margin-left: 8px;
}


