.button {
  cursor: pointer;
  outline: none;
  border: unset;
  margin:0;
  padding: 0;
  height: 40px;
  justify-content: inherit;
  align-items: inherit;
  border-radius: inherit;
  display: block;
  width: 100%;
}

.button--primary {
  color: var(--primary-button-color);
  background-color: var(--primary-button-bgcolor);
  font-weight: var(--primary-button-weight);
  font-size: var(--primary-button-size);
  border-radius: var(--primary-button-radius, none);
  border-style: var(--primary-button-bstyle, none);
  border-width: var(--primary-button-bwidth, 0);
  border-color: var(--primary-button-bcolor, inital);
}

.button--primary-selected {
  color: var(--primary-button-selected-color, var(--primary-button-color));
  background-color: var(--primary-button-selected-bgcolor, var(--primary-button-bgcolor));
  border-radius: var(--primary-button-selected-radius, var(--primary-button-radius));
  border-style: var(--primary-button-selected-bstyle, var(--primary-button-bstyle));
  border-width: var(--primary-button-selected-bwidth, var(--primary-button-bwidth));
  border-color: var(--primary-button-selected-bcolor, var(--primary-button-bcolor));
}

.button--secondary {
  color: var(--secondary-button-color);
  background-color: var(--secondary-button-bgcolor);
  font-weight: var(--secondary-button-weight);
  font-size: var(--secondary-button-size);
  border-radius: var(--secondary-button-radius, none);
  border-style: var(--secondary-button-bstyle, none);
  border-width: var(--secondary-button-bwidth, 0);
  border-color: var(--secondary-button-bcolor, inital);
}

.button--secondary-selected {
  color: var(--secondary-button-selected-color, var(--secondary-button-color));
  background-color: var(--secondary-button-selected-bgcolor, var(--secondary-button-bgcolor));
  border-radius: var(--secondary-button-selected-radius, var(--secondary-button-radius));
  border-style: var(--secondary-button-selected-bstyle, var(--secondary-button-bstyle));
  border-width: var(--secondary-button-selected-bwidth, var(--secondary-button-bwidth));
  border-color: var(--secondary-button-selected-bcolor, var(--secondary-button-bcolor));
}

.button--flat {
  background-color: unset;
  color: var(--flat-button-color);
  font-weight: var(--flat-button-weight);
  font-size: var(--flat-button-size);
  border-radius: var(--flat-button-radius, var(--default-flat-button-radius));
}

.button--flat-selected {
  color: var(--flat-button-selected-color);
  background-color: var(--flat-button-selected-bgcolor);
  border-radius: var(--flat-button-selected-radius, var(--default-flat-button-radius));
}

.button--flat-disabled {
  cursor: unset;
  color: var(--flat-button-disabled-color);
  background-color: var(--flat-button-disabled-bgcolor);
}

.button--flat-hidden {
  background-color: var(--flat-button-hidden-bgcolor);
}

@media (hover: hover) {
  .button--primary:hover {
    color: var(--primary-button-hover-color, var(--primary-button-color));
    background-color: var(--primary-button-hover-bgcolor);
  }

  .button--secondary:hover {
    color: var(--secondary-button-hover-color);
    background-color: var(--secondary-button-hover-bgcolor);
  }

  .button--flat:hover {
    background-color: var(--flat-button-hover-bgcolor);
    border-radius: var(--flat-button-radius, var(--default-flat-button-radius));
  }

  .button--flat-selected:hover {
    background-color: var(--flat-button-selected-hover-bgcolor);
  }

  .button--flat-hidden:hover {
    cursor: unset;
    background-color: var(--flat-button-hidden-hover-bgcolor);
  }

  .button--flat-disabled:hover {
    background-color: var(--flat-button-disabled-hover-bgcolor);
  }
}

@keyframes inflate {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
