.wrapper {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.wrapper--icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper--primary-icon {
  --icon-stroke: var(--primary-icon-stroke);
  --icon-fill: none;
}

.wrapper--secondary-icon {
  --icon-stroke: var(--secondary-icon-stroke);
  --icon-fill: none;
}

.wrapper--primary-icon-selected {
  --icon-fill: var(--primary-icon-fill-selected);
  --icon-stroke: var(--primary-icon-stroke-selected);
}

.wrapper--secondary-icon-selected {
  --icon-fill: var(--secondary-icon-fill-selected);
  --icon-stroke: var(--secondary-icon-stroke-selected);
}

.wrapper__icon {
  width: 24px;
  height: 24px;
}

.wrapper--secondary {
  background-color: var(--gb50);
  color: var(--gb900);
}

.wrapper--flat {
  color: var(--gb900);
  background-color: unset;
}

.wrapper--title {
  font-family: revert;
  font-weight: revert;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2rem;
  max-height: 2.4rem;
  overflow: hidden;
  white-space: normal;
  text-overflow: normal;
}
