.wrapper {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.wrapper--icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper--primary-icon {
  --icon-stroke: var(--primary-icon-stroke);
  --icon-fill: var(--primary-icon-fill, none);
}

.wrapper--secondary-icon {
  --icon-stroke: var(--secondary-icon-stroke);
  --icon-fill: var(--secondary-icon-fill, none);
}

.wrapper--primary-icon-selected {
  --icon-fill: var(--primary-icon-fill-selected);
  --icon-stroke: var(--primary-icon-stroke-selected);
}

.wrapper--secondary-icon-selected {
  --icon-fill: var(--secondary-icon-fill-selected);
  --icon-stroke: var(--secondary-icon-stroke-selected);
}

.wrapper__icon {
  width: 24px;
  height: 24px;
}

.wrapper--primary {
  background-color: var(--primary-bgcolor);
  color: var(--primary-color, inherit);
  height: var(--primary-height, auto);
  border-radius: var(--primary-radius, 0);
  width: var(--primary-width, inherit);
  display: var(--primary-display, inherit);
}

.wrapper--secondary {
  color: var(--secondary-color, inherit);
  background-color: var(--secondary-bgcolor, inherit);
  height: var(--secondary-height, auto);
  border-radius: var(--secondary-radius, 0);
  width: var(--secondary-width, inherit);
  display: var(--secondary-display, inherit);
}

.wrapper--flat {
  background-color: unset; 
  color: var(--flat-color, inherit);
  height: var(--flat-height, auto);
  width: var(--flat-width, inherit);
  display: var(--flat-display);
}

.wrapper--title {
  font-family: revert;
  font-weight: revert;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2rem;
  max-height: 2.4rem;
  overflow: hidden;
  white-space: normal;
  text-overflow: normal;
}
