.wrapper {
  width: 100%;
  cursor: default;
  box-sizing: border-box;
}

.wrapper--touch {
  height: 40px;
  display: flex;
  align-items: center;
}

.wrapper--inline-spread {
  padding: 0 24px;
  display: inline-flex;
  align-items: center;
}

.wrapper--inline-spread__content:first-child {
  margin-left: unset;
}

.wrapper--inline-spread__content {
  margin-left: 8px;
}

.wrapper--icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

.wrapper--icon__children {
  width: 24px;
  height: 24px;
}
