.button {
  cursor: pointer;
  outline: none;
  padding: 14px 24px;
  color: #f7f7f8;
  background-color: #00a86b;
  border: 1px solid #009961;
  border-radius: 24px;
}

.button--default:disabled {
  cursor: unset;
  background-color: white;
  color: #00a86b;
}

.button--default:disabled:hover {
  cursor: unset;
  background-color: white;
  color: #00a86b;
}

.button--default {}

.button--full-width {
  width: 100%;
}

.button--touch {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: unset;
  background-color: unset;
}

.button--touch__icon {
  width: 24px;
  height: 24px;
}

.button--flex {
  display: flex;
  align-items: center;
}

.button--navigation-item {
  background-color: unset;
  border: unset;
  border-radius: unset;
  height: 40px;
  padding: 0 24px;
  overflow: hidden;
}

.button--navigation-item__title {
}

.button--navigation-item__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 18px;
}

.button--default:hover {
  background-color: #009961;
}

.button--navigation-item:hover {
  background-color: #f1f1f4;
}

.button--icon {
  width: 40px;
  height: 40px;
  color: unset;
  padding: unset;
  border: unset;
  border-radius: 50%;
  background-color: #59a68a;
  justify-content: center;
  align-items: center;
}

.button--icon {
  background-color: black;
}

.button--icon-toggled {
  border: 1px solid; 
  border-color: initial;
}

.button--opaque-icon {
  width: 40px;
  height: 40px;
  color: unset;
  padding: unset;
  border: unset;
  border-radius: 50%;
  background-color: unset;
  justify-content: center;
  align-items: center;
  transition: 0.5s background-color;
}

.button--opaque-icon:hover {
  background-color: #e3e3e8;
}

.button--opaque-icon:active {
  background-color: unset;
}

.button--opaque-icon-selected {
  background-color: #e3e3e8;
}

.button--warning {
  border-radius: 4px;
  background-color: unset;
  color: #00a86b;
  padding: 0 18px;
  height: 40px;
  display: flex;
  align-items: center;
}

.button--warning:hover {
  background-color: #00a86b;
  color: #f7f7f8;
}

.button--filled {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #fcf7cf;
  background-color: unset;
}

.button--pointed {
  height: 40px;
  display: flex;
  align-items: center;
  border: unset;
  background-color: unset;
  padding: unset;
  border-radius: unset;
}

.button--pointed:hover {
  background-color: #e3e3e8;
}

.color {
  color: #454654;
}

.button--touch:hover {
  background-color: #f1f1f4;
}
