.root {
  --event-card-max-width: 600px;
  --secondary-bg-color: var(--gb50);
  --primary-link-color: var(--gg600);
  --primary-link-decoration: none;
  --primary-title-size: var(--size-xl);
  --primary-title-weight: var(--weight-semi-bold);
  --primary-title-color: var(--gb700);
  --primary-label-size: var(--size-tsm);
  --primary-label-weight: var(--weight-regular);
  --primary-label-color: var(--gb700);
  --secondary-label-size: var(--size-lg);
  --secondary-label-weight: var(--weight-regular);
  --secondary-label-color: var(--gb700);
  --tertiary-label-size: var(--size-mid);
  --tertiary-label-weight: var(--weight-bold);
  --tertiary-label-color: var(--gb400);
  margin-top: 96px;
  background-color: #fff;
}

.root__filter {
  position: relative;
  margin-inline: 24px;
  margin-bottom: 24px;
  line-height: 1.8rem;
  --primary-label-size: var(--size-sm);
  --primary-label-weight: var(--weight-semi-bold);
  --primary-label-color: var(--gb700); 
  --primary-link-color: var(--gb700);
  --primary-link-decoration-hover: underline;
  --primary-container-left: 24px;
  --primary-container-right: 24px;
  --primary-container-top: 24px;
  --primary-container-bottom: 24px;
  --primary-display: flex;
  --primary-radius: 8px;
  --primary-bgcolor: var(--gb100);
  --secondary-container-left: 24px;
  --secondary-container-right: 24px;
  --secondary-container-top: auto;
  --secondary-container-bottom: auto;
  --secondary-display: flex;
  --secondary-height: 40px;
  --secondary-bgcolor: #fff;
  --secondary-label-size: var(--size-sm);
  --secondary-label-weight: var(--weight-medium);
  --secondary-label-color: var(--gb400); 
}

.root__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

