.header {
  position: fixed;
  top: 0;
  z-index: 4;
  height: 96px;
  display: flex;
  width: 100%;
  background-color: #fff;
  --flat-button-selected-bgcolor: var(--g600);
  --flat-button-selected-color: #fff;
  --flat-button-selected-hover-bgcolor: var(--g700);
  --flat-button-selected-radius: 24px;
  --flat-button-radius: 24px;
  --flat-button-hover-bgcolor: var(--gb100);
  --primary-button-color: #fff;
  --primary-button-bgcolor: var(--sw700);
  --primary-button-hover-bgcolor: var(--sw800);
  --primary-button-radius: 24px;
  --secondary-icon-fill: var(--gb900);
  --secondary-icon-fill-selected: #fff;
  --secondary-container-right: 8px;
}

.header__icon {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  margin-right: 24px;
  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav__reverse:first-child {
  display: flex;
  flex-direction: row-reverse;
}
