.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  box-sizing: border-box;
  border: 1px solid var(--gb300);

  background: inherit;
  color: inherit;
  height: auto;
  z-index: 7;
  opacity: 0;
  transition: 0.1s opacity;
  background-color: white;
  width: calc(100% - 48px);
}

.search-popup--hidden {
  display: none;
}

@media (min-width: 415px) {
  .search-popup {
    width: max-content;
  }
}

